.background-image {
    background-image: url('../images/background-image.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    flex: 1;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    padding: 0;
}

table {
    border-radius: 10px;
    border: 1px solid white;
    background-color: #484444;
    margin: auto;
    z-index: 1;
    position: relative;
}

table.text-white {
    border-collapse: separate;
    border-spacing: 10px;
}

.container.mt-4 {
    margin: 0 32.5% 0 32.5%;
}

.container {
    margin: 10px;
}

table, table.text-white {
    border-radius: 10px;
    border: 1px solid white;
    background-color: #484444;
    margin: auto;
    z-index: 1;
    position: relative;
}

.w-45 {
    width: 45%;
}

.submit-button {
    width: 30%;
    margin: 0 35% 0 35%;
}

/** This is the header styling */
.nav-item {
    margin-right: 20px;
}

.navbar-brand img {
    padding: 20px;
}

.nav-item .test {
    justify-content: space-between
}

ul {
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
}

/** This is the footer styling */
footer {
    background-color: black;
    color: white;
    padding: 20px 0;
    flex-shrink: 0;
}

.footer-links {
    display: flex;
    justify-content: center;
    padding: 10px 0;
}

.footer-link {
    text-decoration: none;
    color: white;
    margin: 0 10px;
}

.footer-link:hover {
    text-decoration: underline;
}

/** This is the footer styling */
body {
    min-height: 100vh;
    margin: 0;
    padding: 0;
}

.buttonContainer {
    width: 20%;
    margin: 0 40% 0 40%;
}

.button {
    padding: 10px;
    margin: 5px 0 5px 0;
}